<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-4" *ngFor="let film of searchFilms">
            <div class="card card-profile">
                <div class="card-avatar">
                    <img class="img" src="https://image.tmdb.org/t/p/w500{{film.poster_path}}" />
                </div>

                <div class="content">
                    <h6 class="category text-gray">Popularity {{film.popularity}}</h6>
                    <h4 class="card-title">{{film.title}}</h4>
                    <p class="card-content">{{film.overview | formatString}}</p>
                    <button class="btn btn-danger btn-round" (click)="gotoDetail(film.id)">More</button>
                </div>
            </div>
        </div>
    </div>
</div>